modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "imagemagick", "chromium", "glib"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "javascript_object_storage:2.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-2663551e-f177-41e8-a343-ef909764ab09"

[userenv]

[userenv.shared]
PUTER_APP_UID = "app-78a6cac4-afb0-45a2-8074-90d687b41770"
PUTER_APP_NAME = "grudge-auth"
PUTER_APP_PATH = "https://grudge-auth-73v97.puter.site"
